%section.list[@list]
  %header
    %h1.section
      %span.text
        Grocery List
      %span.meta
        = "(#{@list.list_items.count})"
  .content
    - @categories.each do |category|
      .category[category]{:class => "#{category.to_parameter}"}
        %header
          %h1.section
            %span.text
              = category.title
        .list_items
          - @list.list_items.by_category(category).each do |li|
            .list_item[li]
              .name
                name:
                = li.product.name
              .quantity
                quantity:
                = li.quantity
              .note
                note:
                = li.note
              .user
                requested by:
                = li.user.display_name
              .actions
                = link_to "edit", edit_list_list_item_path(@list, li)
                = link_to "delete", list_list_item_path(@list, li), :method => :delete, :confirm => "Are you sure you want to delete #{li.product.name} from your list?"
