= simple_form_for [@list, @li] do |f|
  %fieldset.name
    = f.input :name, :label => 'name'
  %fieldset.quantity
    = f.input :quantity, :label => 'quantity'
  %fieldset.category
    = f.select(:category_id, @categories.collect { |c| [ c.name, c.id ] }, { :prompt => "Select a Category" })
  %fieldset.add_note
    = link_to void_path, :class => 'btn' do
      %i.icon_note
  %fieldset.buttons
    = link_to 'add to list', void_path, :class => 'submit btn'
  %fieldset.note
    = f.input :note, :label => 'note (optional)'
  %footer
    = link_to 'clear form', void_path, :class => 'cancel'
