%header.site
  
  %h1.logo
    = link_to root_path do    
      %i.icon_cart
      %i.icon_cart
      %i.icon_cart

  - if user_signed_in?
    %ul
      %li= "Hello #{current_user.username} "
      %li= link_to 'logout', destroy_user_session_path, method: :delete
  - else
    %ul
      %li= link_to 'register', new_user_registration_path
      %li= link_to 'login', new_user_session_path

= flash_messages
