!!!

%html
  %head
    %title Grocery List
    = csrf_meta_tags
    = stylesheet_link_tag "application"

%body{:class => body_class}

  #container
    = render 'layouts/header'

    #content
      = yield
      
    #push
    
  = render 'layouts/footer'

  = javascript_include_tag "application"
